.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #201B51;
    width: 97.3%;
    height: 94.5vh;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container img {
    width: 500px;
    height: 450px;
    margin-bottom: 20px;
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
}

.form-group input {
    width: 820px;
    height: 35px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
}

.form-group input::placeholder {
    font-size: 20px;
}


.login-button, .forgot-password {
    display: block;
    width: 100%;
    text-align: center;
    margin: 10px 0;
    padding: 10px 0;
    cursor: pointer;
}

.login-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50px;
    transition: background-color 0.3s;
    width: 500px;   /* <-- Adjust the width here */
    height: 50px;   /* <-- Adjust the height here */
    font-size: 18px;
}

.login-button:hover {
    background-color: #0056b3;
}

.forgot-password {
    color: white;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .login-container {
        padding: 10px;
    }

    .login-container img {
        width: 250px;
        height: 225px;
        margin-bottom: 10px;
    }

    .form-group input {
        width: 100%;
    }

    .login-button {
        width: 100%; /* Full width on mobile */
        height: 40px;
        font-size: 16px;
    }
}

@media (min-width: 769px) {
    .login-button, .forgot-password {
        width: auto;
        max-width: 250px;
        margin-left: auto;
        margin-right: auto;
    }

    .login-button {
        width: 100%;  /* Full width on mobile */
        height: 40px; /* Adjust height as necessary */
        font-size: 16px; /* Adjust font size if needed */
    }
}