.frontpageStyle {
    background-color: #201B51;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0; /* Remove the single quotes around 0 */
    position: relative;
  }
  .textContainerStyle {
    background-color: #201B51;
    max-width: 1000px;
    width: 100%; /* Remove the single quotes around '100%' */
    color: #FBB217;
    text-align: center;
    padding: 20px;
    position: relative; /* Use relative instead of absolute */
  }
  .logoStyle {
    max-width: 5%;
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px;
  }