.details-page-container {
  position: relative;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
}
.header-details {
  position: absolute;
}
.details-sub {
  width: 90%;
  height: 90%;
  padding-top: 7vh;
}
.title-details {
  display: flex;
  width: 100%;
  height: 100%;
  padding-left: 20vh;
  padding-right: 20vh;
  font-size: 25px;
  padding-top: 10vh;
  flex-direction: column;
}
@media (max-width: 600px) {
  .details-sub {
    width: 100%;
    height: 100%;
    padding-top: 7vh;
  }
  .title-details {
    padding-left: 3vh;
    padding-right: 3vh;
  }
}
