.dash-container {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 2vh;
}

.dash-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}

.dash-checklist-con {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dash-sub {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding-left: 6vh;
  padding-right: 6vh;
}
.dash-input {
  border: 1px solid grey;
  outline: none;
  height: 80%;
  width: 60vh;
  border-radius: 10vh;
  padding: 2vh;
  font-size: 2vh;
}

.inventory-dash-con {
  background-color: rgb(248, 248, 248);
  padding: 2vh;
  border-radius: 1vh;
}

.inventory-subcon {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 1vh;
}

.dash-title {
  background-color: rgb(225, 225, 228);
  padding: 1vh;
  padding-right: 2vh;
  padding-left: 6vh;
  padding-right: 6vh;
}

table {
  font-family: "Times New Roman", Times, serif;
}

td {
  padding-left: 1vh;
  border-radius: 7px;
}

.pagination button.active {
  background-color: #0f0c36;
  border-radius: 10px;
  border: none;
  width: 50px;
  height: 50px;
  font-size: 17px;
  margin-right: 10px;
  color: white;
}

.pagination button {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px solid #0f0c36;
  width: 50px;
  height: 50px;
  font-size: 17px;
  margin-right: 10px;
  color: #0f0c36;
  transition: 0.5s ease-in-out;
}

.pagination {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.link-dash {
  color: rgb(255, 196, 0);
  transition: 0.5s ease-in-out;
  font-size: 25px;
}

.link-dash:hover {
  color: rgb(11, 10, 70);
}

@media (max-width: 600px) {
  .dash-container{
   padding-top: 10vh;
  }
}