.userlist-cont {
  display: flex;
  width: 100%;
  height: 88vh;
}

.btn-cont-userlist {
  display: flex;
  flex-direction: column;
  width: 25vh;
  background-color: #201b51;
  height: 100%;
}

.table-cont-userlist {
  width: 100%;
  padding: 10px;
  border: 10px solid #201b51;
}

.userlist-table {
  font-family: "Times New Roman", Times, serif;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.userlist-table td,
.userlist-table th {
  border: 1px solid #e7e7e7;
  padding: 8px;
}

.userlist-table tr:nth-child(even) {
  background-color: rgb(255, 255, 255);
}

.userlist-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #201b51;
  color: white;
  text-align: center;
}

.nothing-con {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20vh;
}

.nothing-p {
  text-align: center;
  margin-top: 20px;
}

.pagination.userlist-page {
  position: absolute;
  bottom: 0;
  width: 86.5%;
}

@media (max-width: 600px) {
  .table-cont-userlist {
    width: 100%;
    padding: 10px;
    border: 10px solid #201b51;
    height: 100%;
    overflow-y: auto;
  }

  .pagination.userlist-page {
    left: 62%;
    width: auto;
  }

  .nav-bar-cont {
    position: fixed;
    width: 100%;
    z-index: 1000; /* Ensure it is on top of other elements */
  }

  .drop-down-nav {
    display: flex;
    flex-direction: column;
    transform: translateY(-60rem);
    transition: 0.5s ease-in-out;
    height: 100%;
    position: fixed;
  }

  .drop-down-nav.active {
    transform: translateY(5rem);
    left: 0;
  }
  .userlist-cont {
    padding-top: 13vh;
    height: 100vh;
  }
  .userlist-table {
    font-size: 13px;
  }
  .nothing-img {
    width: 13vh;
    height: 13vh;
  }
  .nothing-con {
    padding: 2vh;
  }
}
