.submit-cont {
  display: flex;
  width: 100%;
  height: 88vh;
}
.submit-cont-main {
  width: 70%;
}
.btn-cont-submit {
  display: flex;
  flex-direction: column;
  width: 25vh;
  background-color: #201b51;
  height: 100%;
}
.table-cont-submit {
  width: 100%;
  padding: 10px;
  border: 10px solid #201b51;
}
.submit-request-cont {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 2%;
  flex-direction: column;
}

.submit-request-subcont {
  width: 50%;
  height: 50%;
  display: flex;
  margin-right: 5%;
  padding: 15px;
  height: 33vh;
  background-color: #e2e2e2;
  border-radius: 15px;
}
.submit-mainsub {
  display: flex;
  height: 100%;
  width: 100%;
}
.submit-request-subcont.B {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 50vh;
}
.submit-request-subcont.A {
  display: flex;
  flex-direction: column;
  background-color: #e2e2e2;
  min-width: 90%;
  height: auto;
}
.form-list-cont {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 30px;
  margin-top: 20px;
}
.upload-cont {
  display: flex;
  background-color: white;
  width: 100%;
  height: 100%;
  margin-top: 30px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
}
.btn-option {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
}
.title-submit {
  margin-bottom: 15px;
}
.fill-up-form {
  margin-top: 3vh;
  width: 90%;
}

.uploaded-name-cont {
  height: 100%;
  width: 100%;
  padding: 1vh;
}
.uploaded-name {
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid rgb(11, 3, 36);
  transition: 0.3s ease-in-out;
}
.uploaded-name:hover {
  background-color: rgba(99, 99, 99, 0.091);
}

.uploaded-name-pre {
  height: 100%;
  width: 100%;
  background-color: rgba(18, 6, 48, 0.144);
  border-radius: 15px;
}

@media (max-width: 600px) {
  .btn-cont-submit {
    height: 160vh;
    margin-top: 1vh;
    background-color: #201b51;
  }
  .submit-cont-main {
    width: 100%;
  }
  .submit-cont {
    padding-top: 29%;
    height: 100vh;
  }
  .submit-request-cont {
    flex-direction: column;
  }
  .submit-mainsub {
    flex-direction: column;
  }
  .submit-request-subcont {
    width: 100%;
    margin-bottom: 5vh;
  }
  .submit-request-subcont.B {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .upload-cont {
    display: flex;
    background-color: white;
    width: 100%;
    height: 30vh;
    margin-top: 30px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
  }
  .btn-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 4vh;
    width: auto;
    height: auto;
  }
  .fill-up-form {
    margin-top: 3vh;
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .btn-option {
    width: 25vh;
  }
}
