.submit-cont {
  display: flex;
  width: 100%;
  height: 88vh;
}
.btn-cont-submit {
  display: flex;
  flex-direction: column;
  width: 25vh;
  background-color: #201b51;
  height: 100%;
}
.table-cont-submit {
  width: 100%;
  padding: 10px;
  border: 10px solid #201b51;
}
.submit-request-cont{
    display: flex;
    height: 100%;
    width: 100%;
    padding: 2%;
    flex-direction: column;
}

.submit-request-subcont{
    width: 50%;
    height: 50%;
    display: flex;
    margin-right: 5%;
    padding: 15px;
    background-color: #e2e2e2;
    border-radius: 15px;
}
.submit-mainsub{
    display: flex;
    height: 100%;
    width: 100%;
}
.submit-request-subcont.B{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.submit-request-subcont.A{
    display: flex;
    flex-direction: column;
    background-color: #e2e2e2;
    
}
.form-list-cont{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 30px;
    margin-top: 20px;
}
.upload-cont{
    display: flex;
    background-color: white;
    width: 100%;
    height: 100%;
    margin-top: 30px;
    border-radius: 15px;
}
.btn-option{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10px;
}
.title-submit{
    margin-bottom: 15px;
}