.input-feedback {
  width: 100%;
  outline: none;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  min-height: 15vh;
  margin-top: 15px;
  padding: 10px;
  resize: none;
}
.feedback-comment {
  width: 100%;
}
.paper-stats {
  color: black;
}

.status-cont {
  height: 40vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 20px;
}

.text-feedback {
  resize: none;
  width: 100%;
  height: 20vh;
  outline: none;
  border-radius: 10px;
  border-color: rgb(219, 219, 219);
  padding: 15px;
}

.feedback-cont-ad {
  margin-top: 10px;
}

.con-stat-details {
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 20px;
  padding: 10px;
  margin-left: 20px;
}
.con-stat-details-approved {
  background-color: #85e2af;
}

.con-stat-details-rejected {
  background-color: red;
}

.con-stat-details-under-review {
  background-color: #1d1d47;
}

.con-stat-details-pending {
  background-color: #503d0b;
}
.con-stat-details {
  min-width: 15vh;
}
