.header-container {
  display: flex;
  position: fixed;
  flex: 1;
  width: 100%;
  height: 10%;
  padding: 10px;
  z-index: 999;
  background-color: #201b51;
  align-items: center;
}

.header-title {
  color: white;
  line-height: 1.5;
  font-family: "Times New Roman", Times, serif;
  width: 700px;
  font-size: 2vh;
}

.ant-dropdown-link {
  color: white;
  font-size: 2vh;
}

.dropdown-container {
  display: flex;
  width: 100%;
  padding-right: 20px;
  justify-content: space-evenly;
}
.button-login {
  border: 0;
  background-color: transparent;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 2vh;
  cursor: pointer;
  
}
.cont-selection {
  display: none;
}
.header-selection {
  display: none;
}

@media (max-width: 1000px) {
  .header-title {
    display: none;
  }
}
@media (max-width: 600px) {
  .dropdown-container {
    display: none;
  }
  .header-container {
    height: 10%;
  }
  .header-selection {
    display: flex;
    position: absolute;
    right: 0;
    transition: transform 0.3s ease-in-out;
  }
  .link-campus:hover {
    color: rgb(255, 187, 0);
  }
  .link-about:hover {
    color: rgb(255, 187, 0);
  }
  .link-contact:hover {
    color: rgb(255, 187, 0);
  }
  .cam-cont-head {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  }
  .link-campus {
    text-decoration: none;
    color: white;
    margin-bottom: 5px;
    font-weight: lighter;
  }
  .title-head-drop {
    color: white;
    margin-bottom: 15px;
    font-weight: 200px;
  }
  .cont-selection {
    display: flex;
    flex-direction: column;
  }
  .link-about {
    text-decoration: none;
    color: white;
    margin-bottom: 5px;
    font-weight: lighter;
  }
  .link-contact {
    text-decoration: none;
    color: white;
    margin-bottom: 5px; 
    font-weight: lighter;
  }
  .cam-cont-head.login {
    margin-top: 45%;
    display: flex;
    align-items: flex-end;
  }
}
.cont-selection {
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  left: 0;
  background-color: #201b51;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1;
  padding: 10px;
}
.cont-selection.active {
  transform: translateY(5%);
}
.cam-cont-head {
  margin-top: 50px;
}
