.sidebar {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: '20px';
    position: fixed;
  }
  
  
  .sidebar2{
    position: fixed;
    display: 'flex';
    flex-direction: row;
    left: 0px;
    width: 150px;
    height: 100%;
    background-color: #FBB217;
    color: black;
    transition: width 0.3s;
    flex-direction: 'row';
    justify-content: 'center'
  }
  
  
  .sidebar2.open {
    width: 45px;
  }
  
  .toggle-button {
    margin-top: 95px;
    margin-left: 20%;
    cursor: pointer;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
  }
  
  ul {
    list-style: none;
    padding: 20px;
    position: fixed;
    top: 35%;
    
  }
  
  li {
    margin-bottom: 30px;
    font-weight: 500;
    cursor: pointer;
  }
  
  li:hover {
    text-decoration: underline;
  }