body,
html {
  height: 100%;
  margin: 0;
}

.landing-container-bg {
  position: relative;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.login-container-text {
  display: flex;
  flex-direction: column;
  width: 40vh;
  align-items: center;
}

.landing-container {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100vh;
  background-color: #201b5144;
}
.bg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.login-container {
  background-color: #201b518f;
  display: flex;
  position: absolute;
  flex: 1;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.box-login {
  background-color: rgba(0, 0, 0, 0.493);
  height: auto;
  padding: 20px;
  padding-bottom: 70px;
  width: 25%;
  align-items: center;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
  border-radius: 20px;
}

.box-login:hover {
  box-shadow: 1px 1px 10px 5px rgba(255, 255, 255, 0.178);
}

.logo-land {
  width: 100px;
  height: 100px;
  margin-bottom: 40px;
  margin-top: 40px;
}

@media (max-width: 1500px) {
  .login-container {
    overflow-y: auto;
    height: 140vh;
  }
  .bg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 140vh;
    overflow: hidden;
  }
  .box-login {
    margin-top: 40px;
    width: 50%;
  }
}
@media (max-width: 600px) {
  .bg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .login-container {
    background-color: #110e2ead;
    display: flex;
    position: absolute;
    flex: 1;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .box-login {
    background-color: rgba(0, 0, 0, 0);
    height: auto;
    padding: 20px;
    padding-bottom: 70px;
    width: 400px;
    align-items: center;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    border-radius: 20px;
  }

  .box-login:hover {
    box-shadow: none;
  }

  .logo-land {
    width: 100px;
    height: 100px;
    margin-bottom: 40px;
    margin-top: 40px;
  }
}
