.pass-label {
  color: rgba(255, 255, 255, 0);
  font-weight: 90;
  position: absolute;
  top: 0px;
  left: 10px;
  transition: 0.4s ease-in-out;
  pointer-events: none;
}

.input-container:focus-within .pass-label {
  color: rgb(255, 255, 255);
  font-weight: 90;
  top: -40px;
  font-size: 14px;
}
