.nav {
  background-color: #201b51;
  min-height: 7vh;
  padding: 1vh;
  width: 100%;
  flex: 1;
  display: flex;
  text-align: center;
  z-index: 99999;
}

.ui-nav {
  display: flex;
  list-style: none;
  text-decoration: none;
  align-items: center;
  margin-left: 5vh;
}

.nav-header {
  display: flex;
  flex-direction: row;
  font-size: 2vh;
}

.ui-nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Times New Roman", Times, serif;
  min-width: 20vh;
  justify-content: center;
  display: flex;
  padding: 10px;
}

.ui-nav li {
  position: relative;
  transition: 0.5s ease-in-out;
  font-weight: normal;
}

.ui-nav li.active a {
  border-bottom: 3px solid white;
}

.nav-logo {
  width: 100px;
  height: 100px;
}

.ui-nav li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: #ffffff;
  transition: width 0.5s ease-in-out;
}

.ui-nav li:hover::before {
  width: 100%;
}

.ui-nav li.active::before {
  width: 100%;
}

.title-nav {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

.nav-h3 {
  font-weight: 100;
}

.logout {
  width: 5vh;
  align-items: center;
  justify-content: center;
  display: flex;
  list-style: none;
}

.logout-con {
  position: absolute;
  border: 1px solid white;
  border-radius: 100px;
  width: 5vh;
  height: 5vh;
  right: 4vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

.logout-con.bell {
  right: 10vh;
  border: none;
}

.drop-down-nav {
  background-color: #201b51;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  padding-top: 20%;
  z-index: -1;
  left: 0;
}

.drop-down-nav.active {
  display: flex;
  left: 0;
}

.logout-con.bar {
  display: none;
}

@media (max-width: 600px) {
  .nav {
    position: fixed;
  }

  .title-nav {
    display: none;
  }

  .ui-nav.main {
    display: none;
  }

  .ui-nav.drop {
    display: flex;
    flex-direction: column;
    margin-left: 0.5vh;
  }

  .logout-con.bar {
    right: 1vh;
    border: none;
    display: flex;
    
  }

  .logout-con.bell {
    display: none;
  }

  .logout-con.drop {
    display: none;
  }

  .logout {
    margin-right: 100px;
  }

  .drop-down-nav {
    display: flex;
    flex-direction: column;
    transform: translateY(-60rem);
    transition: 0.5s ease-in-out;

  }

  .drop-down-nav.active {
    transform: translateY(5rem);
    left: 0;
  }
}
