.nav {
  background-color: #201b51;
  min-height: 7vh;
  padding: 1vh;
  width: 100%;
  flex: 1;
  display: flex;
  text-align: center;
}

.ui-nav {
  display: flex;
  list-style: none;
  text-decoration: none;
  align-items: center;
  margin-left: 5vh;
}

.ui-nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Times New Roman", Times, serif;
  min-width: 20vh;
  justify-content: center;
  display: flex;
  padding: 10px;
}

.ui-nav li {
  position: relative;
  transition: 0.5s ease-in-out;
  font-weight: normal;
}

.ui-nav li.active a {
  border-bottom: 3px solid white;
}

.nav-logo {
  width: 8vh;
  height: 8vh;
}

.ui-nav li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: #ffffff;
  transition: width 0.5s ease-in-out;
}

.ui-nav li:hover::before {
  width: 100%;
}

.ui-nav li.active::before {
  width: 100%;
}

.title-nav {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

.nav-h3 {
  font-weight: 100;
}

.ui-nav.logout {
  position: absolute;
  right: 0;
}
