.add-user-cont {
  display: flex;
  padding: 5vh;
  height: 80vh;
}
.input-cont-add {
  display: flex;
  flex-direction: column;
}
.row0 {
  display: flex;
  margin-bottom: 20px;
  margin-top: 5vh;
}
.row1 {
  display: flex;
}
.row2 {
  display: flex;
}
.row3 {
  display: flex;
}
.row4 {
  flex-direction: row;
  display: flex;
}
.account {
  height: 60vh;
  width: 60vh;
}
@media (max-width: 600px) {
  .add-user-cont {
    flex-direction: column;
    align-items: center;
  }
  .input-cont-add {
    align-items: center;
    justify-content: center;
  }
  .account-cont {
    margin-top: 10vh;
  }
  .account {
    height: 30vh;
    width: 30vh;
  }
  .row1,
  .row2,
  .row3,
  .row4 {
    flex-direction: column;
  }
  .add-user-btn-cont {
    margin-bottom: 20px;
  }
}
